# Python venv
.venv/

# Pycache
__pycache__/
*/__pycache__/

# RAW data folder (big files – do NOT upload)
Lego_data/

# VS Code settings
.vscode/

# Streamlit cache
.streamlit/

# Other logs
*.log


